.group-conent
  display grid
  grid-template-columns auto 1fr
  align-items center
  row-gap 0.4em
  column-gap 1em

.repo-line
  display contents

.repo-link
  white-space nowrap

.temporary-dump p
  margin 0
